[db]
connection_url = postgresql://{{ GC_PG_USER }}:{{ GC_PG_PASS }}@{{ GC_PG_ENDPOINTS }}:5432/{{ GC_PG_DB }}

[logging]
config = logging.yaml

[iam]
hs256_jwks_decryption_key = {{ GC_HS256_JWKS_ENCRYPTION_KEY }}

[user_api]
bind_host = 0.0.0.0

[builder_agent]

[iam_client]
username = {{ IAM_USER_NAME }}
password = {{ IAM_USER_PASS }}
