name: "notification_pg_backup"
description: "Backups of the Exordos notification PG cluster to the communal S3"
schema_version: 1
version: "{{ version }}"
api_version: "v1"

# Installations that don't need the backups leave the element out, and need
# neither S3 nor its dependencies then. Removing the element stops the
# archiving, the backups taken are left in the bucket.
requirements:
  core:
    from_version: "0.0.0"
  dbaas:
    from_version: "2.7.0"
  exordos_notification:
    from_version: "0.0.0"
  s3aas:
    from_version: "0.0.0"
  communal_s3:
    from_version: "0.0.0"

resources:

  $core.secret.passwords:
    notification_pg_backup_access_key:
      name: notification_pg_backup_access_key
      description: "Access key of the backups of the notification PG cluster"
      project_id: "12345678-c625-4fee-81d5-f691897b8142"
      default_length: 20
      constructor:
        kind: plain
      method: AUTO_HEX
    notification_pg_backup_secret_key:
      name: notification_pg_backup_secret_key
      description: "Secret key of the backups of the notification PG cluster"
      project_id: "12345678-c625-4fee-81d5-f691897b8142"
      default_length: 40
      constructor:
        kind: plain
      method: AUTO_HEX
    # The backups can't be restored without it
    notification_pg_backup_encryption_key:
      name: notification_pg_backup_encryption_key
      description: "Encryption key of the backups of the notification PG cluster"
      project_id: "12345678-c625-4fee-81d5-f691897b8142"
      default_length: 64
      constructor:
        kind: plain
      method: AUTO_HEX

  $notification_pg_backup.imports.$communal_s3.buckets:
    notification_pg_backups:
      name: "notification-pg-backups"
      project_id: "12345678-c625-4fee-81d5-f691897b8142"
      instance: $notification_pg_backup.imports.$communal_s3:uuid
      versioning_enabled: false
      quota_bytes: 0
      object_lock_enabled: false
      public: false

  $notification_pg_backup.imports.$communal_s3.policies:
    notification_pg_backups_policy:
      name: "notification-pg-backups"
      project_id: "12345678-c625-4fee-81d5-f691897b8142"
      instance: $notification_pg_backup.imports.$communal_s3:uuid
      content:
        Version: "2012-10-17"
        Statement:
          - Effect: "Allow"
            Action:
              - "s3:GetObject"
              - "s3:PutObject"
              - "s3:DeleteObject"
              - "s3:ListBucket"
            Resource:
              - f"arn:aws:s3:::{$s3aas.types.s3.instances.$communal_s3.buckets.$notification_pg_backups:name}"
              - f"arn:aws:s3:::{$s3aas.types.s3.instances.$communal_s3.buckets.$notification_pg_backups:name}/*"

  $notification_pg_backup.imports.$communal_s3.users:
    notification_pg_backups_user:
      name: "notification-pg-backups"
      project_id: "12345678-c625-4fee-81d5-f691897b8142"
      instance: $notification_pg_backup.imports.$communal_s3:uuid

  $s3aas.types.s3.instances.$communal_s3.users.$notification_pg_backups_user.policies:
    notification_pg_backups_policy_attachment:
      project_id: "12345678-c625-4fee-81d5-f691897b8142"
      policy: $s3aas.types.s3.instances.$communal_s3.policies.$notification_pg_backups_policy:uuid
      user: $s3aas.types.s3.instances.$communal_s3.users.$notification_pg_backups_user:uuid
      instance: $notification_pg_backup.imports.$communal_s3:uuid

  $s3aas.types.s3.instances.$communal_s3.users.$notification_pg_backups_user.access_keys:
    notification_pg_backups_access_key:
      project_id: "12345678-c625-4fee-81d5-f691897b8142"
      access_key: $core.secret.passwords.$notification_pg_backup_access_key:value
      secret_key: $core.secret.passwords.$notification_pg_backup_secret_key:value
      user: $s3aas.types.s3.instances.$communal_s3.users.$notification_pg_backups_user:uuid
      instance: $notification_pg_backup.imports.$communal_s3:uuid

  # The instance belongs to exordos_notification, the policy to this element
  $notification_pg_backup.imports.$cluster.backup_policies:
    notification_pg_backups:
      name: "communal-s3"
      project_id: "12345678-c625-4fee-81d5-f691897b8142"
      instance: $notification_pg_backup.imports.$cluster:uuid
      storage:
        kind: s3
        endpoint: f"http://{$notification_pg_backup.imports.$communal_s3:join(ipsv4)}:9000"
        bucket: $s3aas.types.s3.instances.$communal_s3.buckets.$notification_pg_backups:name
        access_key: $core.secret.passwords.$notification_pg_backup_access_key:value
        secret_key: $core.secret.passwords.$notification_pg_backup_secret_key:value
        encryption_key: $core.secret.passwords.$notification_pg_backup_encryption_key:value
      # A full backup a week, an incremental one a day, two weeks kept
      full_interval_hours: 168
      incr_interval_hours: 24
      retention_full: 2

imports:
  cluster:
    element: "$exordos_notification"
    kind: "resource"
    link: "$dbaas.types.postgres.instances.$notification_cluster_pg"
  communal_s3:
    element: "$communal_s3"
    kind: "resource"
    link: "$s3aas.types.s3.instances.$communal_s3"

# A restore needs the storage, the key and the uuid of the instance, the
# stanza of its backups: see exordos_db/exordos/manifests/examples/example_pg_restore.yaml
exports:
  bucket:
    link: "$s3aas.types.s3.instances.$communal_s3.buckets.$notification_pg_backups"
  access_key:
    link: "$core.secret.passwords.$notification_pg_backup_access_key"
  secret_key:
    link: "$core.secret.passwords.$notification_pg_backup_secret_key"
  encryption_key:
    link: "$core.secret.passwords.$notification_pg_backup_encryption_key"
